.content {
    display: flex;
    width: 80vw;
    flex-wrap: nowrap;
    align-content: space-around;
}

@media (max-width: 740px) {
    .content {
        width: 100%;
        flex-direction: column;
    }


}